# Xcode
## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj
.swiftpm

# CocoaPods
Pods/
*.xcworkspace

# OS X
.DS_Store
.AppleDouble
.LSOverride